.hide{
    display: none;
}

body {
  background: #eee !important;
}

h1{
    text-decoration: underline;
}

p1{
    font-family: cursive;
    font-size: 17px;
    color: black;
    color: #61bd4f;
}

.task-colour td{
    color: white;
    padding: 4px;
 
}
.task-colour {
    width: 64%;
}

.green{
    background-color: green;
}

.yellow{
    background-color: darkgoldenrod;
}

.red{
    background-color: #BC1325;
}

.table-header td{
    background-color: #FA9B00;
}



/* LOGIN */
.form-bg {
		width: 367px;
		height: 285px;
		-moz-border-radius:9px;
		-webkit-border-radius:9px;
		border-radius:21px;
		margin: 30px auto 0;
		background: black url(../images/form-bg.png) top left;
		padding: 8px 0 0 8px;
		float: left;
		font-family: cursive;
		font-size: 17px;
		color: black;
		color: red;
		}
	
	.form-bg form {
		width: 360px;
		height: 258px;
		background: #fff url(../images/bg_form.jpg) repeat-x top left;		
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		-moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
		-webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
		box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
}
	
	
	
	
	.form-bg form h2 {
		font-size: 14px;
		font-weight: bold;
		color: #555555;
		font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 0 #fff;
		filter: dropshadow(color=#fff, offx=0, offy=1);
		line-height: 45px;
		margin-bottom: 24px;
		margin-left:25px;
		text-align: center;
	}
	
	
/* Register */	
	
	.form-bg-reg {
		width: 367px;
		height: 605px;
		-moz-border-radius:9px;
		-webkit-border-radius:9px;
		border-radius:21px;
		margin: 30px auto 0;
		background: black url(../images/form-bg.png) top left;
		padding: 8px 0 0 8px;
		margin-left: 452px;
		margin-top: 52px;
		
		}
	
	.form-bg-reg form {
		width: 360px;
		height: 577px;
		background: #fff url(../images/bg_form.jpg) repeat-x top left;		
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		-moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
		-webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
		box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
	}
	
	.form-bg-reg form h2 {
		font-size: 14px;
		font-weight: bold;
		color: #555555;
		font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 0 #fff;
		filter: dropshadow(color=#fff, offx=0, offy=1);
		line-height: 45px;
		margin-bottom: 24px;
		margin-left:25px;
		text-align: center;
	}
	
	
	input[type="text"], input[type="password"]{
		box-shadow: 0px 0px 0px 4px #f2f5f7;
		width: 290px;
		height: 33px;

		padding: 0 10px 0 10px;
		margin: 10px 21px;
		color: #aeaeae;
		border: 2px solid #000000;
		
	}
	
	input[type="text"]:focus, input[type="password"]:focus{
		box-shadow: 0px 0px 0px 4px #e0f1fc;
		border:1px solid #7dc6dd;
	}
	
	input[type="checkbox"] {
		vertical-align: middle;
	}
	
	
	button {
		background: #F4F4F4;
		
		border:0px;
		float: right;
		margin-right: 152px;
		box-shadow: 0px 0px 0px 4px black;
		border: 1px solid white;
		color: blue;
		margin-top: 7px;
		width: 89px;
		height: 28px;
		font-family: cursive;
		font-size: 18px;

	}
	
	button:hover {
		background: #9BCAF2;
		
		box-shadow: 0px 0px 0px 4px black;
		border: 1px solid white;
		color: black;
	}
	
	button:active {
		background: #FA9B00;
		
		border:0px;
		box-shadow: 0px 0px 0px 4px black;
		border: 1px solid white;
		color: white;
	}	
	
	
	label {
		display: inline;
		/*margin-left: 24px;*/
		vertical-align: middle;
		color: black;
		
	}
	
	label span {
		color: #555555;
		font-size: 12px;
	}
    
/* Box */


#box1
{
    background-color: #F4F4F4;
 /*   border: 3px solid black;
    min-width: 931px;
    float: left;*/
		
}



/* View All Tasks */

table{
 	
	margin: auto;
	margin-bottom: 10px;
	border: none;
	padding: 4px;
	width:64%;
	
}

table tr th, table tr td
{ 	background: #FA9B00;
	color: #FFF;
	padding: 4px;
	font-family: cursive;
	text-align: center;
	font-size: 18px;
}
  
table tr td
{ 	background: #F2B694;
	color: #000000;
	border-top: 1px solid #FFF;
	font-family: cursive;
	text-align: center;
	font-size: 15px;
}
	
tr:hover td { background: #9BCAF2; }
	
	
table td th{
    font-family: "Arial",Georgia,Serif;
    font-weight: bold;
}


/* Edit A Task */
.edit-form {
    display: block;
    padding: 20px;
    margin: 20px;
    background: #9BCAF2;
    border-radius: 7px;
    width: auto;
}

/* Update A Task */
.update-form {
    display: block;
    padding: 20px;
    margin: 20px;
    background: #9BCAF2;
    border-radius: 7px;
    width: auto;
}


/* Update Button */
.update-button{
    margin-top: 12px;
    
}


/* Delete Button */
.delete-button{
    margin-left: 94px;
    margin-top: -21px;
}


/* Text Area */

.textarea{
    width:298px;
}

/* visited link */
a:visited
{
    color: blue;
}

/* mouse over link */
a:hover
{
    color: red;
}

/* selected link */
a:active
{
    color: red;
}


p {
    font-family: cursive;
    font-size: 17px;
    color: black;
    margin-top: -5px;
    color:red;
}

/*.table2{
    background-color: red;
}*/


hr{
    background-color: #000000;
    height: 63%;
}


.exit-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.exit-btn { 
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    /*padding: 25px 80px;*/
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; 
}

.exit-btn-3 {
    background-color: #282F8A;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #202670;
    padding: 25px 60px 25px 90px;
}

.exit-btn-3:before {
    position: absolute;
    left: 0;
    font-size: 160%;
    line-height: 0.8;
    color: #fff;
    content: "\e163";
    font-family: 'Glyphicons Halflings';
}


#center-input{
    margin-right: auto;
    margin-left: auto;
    display: table;
}

.add-task-input{
    text-align: center;
}

.right{
    float: right;
    margin-right: 10px;
}
#selectFilter{
    float:right;
    margin-right: 20px;
}