.hide{
    display: none;
}

body {
  background: #eee !important;
}

h1{
    text-decoration: underline;
}


/* LOGIN */
.form-bg {
		width: 367px;
		height: 285px;
		-moz-border-radius:9px;
		-webkit-border-radius:9px;
		border-radius:21px;
		margin: 30px auto 0;
		background: black url(../images/form-bg.png) top left;
		padding: 8px 0 0 8px;
		float: left;
		font-family: cursive;
		font-size: 17px;
		color: black;
		color: red;
		}
	
	.form-bg form {
		width: 360px;
		height: 258px;
		background: #fff url(../images/bg_form.jpg) repeat-x top left;		
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		-moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
		-webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
		box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
}
	
	
	
	
	.form-bg form h2 {
		font-size: 14px;
		font-weight: bold;
		color: #555555;
		font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 0 #fff;
		filter: dropshadow(color=#fff, offx=0, offy=1);
		line-height: 45px;
		margin-bottom: 24px;
		margin-left:25px;
		text-align: center;
	}
	
	
/* Register */	
	
	.form-bg-reg {
		width: 367px;
		height: 605px;
		-moz-border-radius:9px;
		-webkit-border-radius:9px;
		border-radius:21px;
		margin: 30px auto 0;
		background: black url(../images/form-bg.png) top left;
		padding: 8px 0 0 8px;
		margin-left: 452px;
		margin-top: 52px;
		}
	
	.form-bg-reg form {
		width: 360px;
		height: 577px;
		background: #fff url(../images/bg_form.jpg) repeat-x top left;		
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		-moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
		-webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
		box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
	}
	
	.form-bg-reg form h2 {
		font-size: 14px;
		font-weight: bold;
		color: #555555;
		font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 0 #fff;
		filter: dropshadow(color=#fff, offx=0, offy=1);
		line-height: 45px;
		margin-bottom: 24px;
		margin-left:25px;
		text-align: center;
	}
	
	
	input[type="text"], input[type="password"]{
		box-shadow: 0px 0px 0px 4px #f2f5f7;
		width: 290px;
		height: 33px;

		padding: 0 10px 0 10px;
		margin: 10px 21px;
		color: #aeaeae;
		border: 2px solid #000000;
	}
	
	input[type="text"]:focus, input[type="password"]:focus{
		box-shadow: 0px 0px 0px 4px #e0f1fc;
		border:1px solid #7dc6dd;
	}
	
	input[type="checkbox"] {
		vertical-align: middle;
	}
	
	
	button {
		background: #555555;
		width:82px;
		height:32px;
		border:0px;
		float: right;
		margin-right: 142px;
		box-shadow: 0px 0px 0px 4px black;
		border: 1px solid white;
		color: white;
		margin-top: 7px;
	}
	
	button:hover {
		background: #e7e7e7;
		width:82px;
		height:32px;
		box-shadow: 0px 0px 0px 4px black;
		border: 1px solid white;
		color: black;
	}
	
	button:active {
		background: #555555;
		width:82px;
		height:32px;
		border:0px;
		box-shadow: 0px 0px 0px 4px black;
		border: 1px solid white;
		color: white;
	}	
	
	
	label {
		display: inline;
		/*margin-left: 24px;*/
		vertical-align: middle;
		color: black;
		
	}
	
	label span {
		color: #555555;
		font-size: 12px;
	}
    
/* Box */


#box1
{
    background-color: #F4F4F4;

    border: 3px solid black;
    min-width: 931px;
    float: left;
		
}



/* View All Tasks */

table{
 	
	margin: auto;
	margin-bottom: 10px;
}

table tr th, table tr td
{ 	background: #61bd4f;
	color: #000;
	padding: 0px 0px;
	border-color: black;
	font-family: cursive;
	text-align: center;
	font-size: 18px;
}
  
table tr td
{ 	background: #61bd4f;
	color: #000000;
	border-top: 1px solid #FFF;
	font-family: cursive;
	text-align: center;
	font-size: 15px;
}
	
tr:hover td { background: #bdc3c7; }
	
	
table td th{
    font-family: "Arial",Georgia,Serif;
    font-weight: bold;
}


/* Edit A Task */
.edit-form {
    display: block;
    padding: 20px;
    margin: 20px;
    background: #61bd4f;
    border-radius: 7px;
    width: auto;
}

/* Update A Task */
.update-form {
    display: block;
    padding: 20px;
    margin: 20px;
    background: #61bd4f;
    border-radius: 7px;
    width: auto;
}


/* Update Button */
.update-button{
    margin-top: 12px;
    
}


/* Delete Button */
.delete-button{
    margin-left: 94px;
    margin-top: -21px;
}


/* Text Area */

.textarea{
    width:819px;
}

/* visited link */
a:visited
{
    color: blue;
}

/* mouse over link */
a:hover
{
    color: red;
}

/* selected link */
a:active
{
    color: red;
}


p {
    font-family: cursive;
    font-size: 17px;
    color: black;
    margin-top: -5px;
    color:red;
}